In [3]:
%matplotlib inline 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [5]:
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [8]:
# check city data for null values
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [10]:
# Get the columns and the rows that are not null.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [12]:
# get the data types of all columns in city data
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [15]:
#get the unique values of tthe type of city
city_data_df["type"].unique()

array([&#39;Urban&#39;, &#39;Suburban&#39;, &#39;Rural&#39;], dtype=object)

In [18]:
# get the number pf data points from the urban cities
sum(city_data_df["type"] == "Urban")

66

In [21]:
sum(city_data_df["type"] == "Suburban")

36

In [22]:
sum(city_data_df["type"] == "Rural")

18

In [23]:
# check ride data ofr null values
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [24]:
# Get the columns and the rows that are not null.
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [25]:
# get the data types of all colyumns in ride data
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [28]:
pyber_data_df = pd.merge(ride_data_df, city_data_df, how = "left", on = ["city", "city"])
pyber_data_df

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural